<div class="card-container">
    <div class="flex-container">
        <div>
            <label>{{ role != 'admin'? !student? 'Job Designation:' :'Candidate Name:': 'User Name' }}</label>
            
            <span *ngIf="!student">{{cardTitle}}</span>
            <span *ngIf="student" (click)="viewDetail()"><a>{{cardTitle}}</a></span>
        </div>
        <div *ngIf="!student">
            <label>Description:</label>
            {{cardDesc}}
        </div>
        <div *ngIf="!student">
            <label>Location:</label>
            {{cardLocation}}
        </div>
        <div *ngIf="!student">
            <label>Posted On:</label>
            {{cardDate}}
        </div>
        <div *ngIf="student" style="text-align: end;">
            <button class="btn btn-success" (click)="inviteForInterview()" *ngIf="!hide">Invite for interview</button>
            <button class="btn btn-danger" (click)="rejectCandidate()" *ngIf="!hide">Reject</button>
        </div>
        <div *ngIf="role == 'admin'">
            <button class="btn btn-danger" (click)="removeAccount()">Remove Account</button>
        </div>
    </div>
</div>