<div *ngIf="userData != undefined" class="container">
    <div style="margin-left: 8%;">
        <h1>User Details:</h1>
    </div>
    <div class="flex-container">
        
        <div>
            <div style="text-align: center;">
                <img style="width: 70%; padding: 8px;" src="../../assets/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png">
            </div>
        </div>
        <div>
            <div class="user-detail-container">
                <div class="title">{{ userData.name }}</div>
                <div class="role">{{ userData.userType }}</div>
                <div class="details">
                    <div class="detail-item">Name: {{ userData.name }}</div>
                    <div class="detail-item">Username: {{ userData.username }}</div>
                    <div class="detail-item">Email: {{ userData.email }}</div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<p *ngIf="!userData">Loading user data...</p>