<div class="container">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <input type="text"  [(ngModel)]="searchTerm" class="form-control" placeholder="Search Designation">
        </div>
        <div>
            <a routerLink="/dashboard/posting/new" class="btn btn-primary posting-btn">New Job Posting</a>
        </div>
    </div>
    <div *ngFor="let job of jobPosting | search: searchTerm" (click)="openJobDetail(job)">
        <app-card [cardTitle]="job.job_designation" [cardDesc]="job.job_description" [cardLocation]="job.location" [cardDate]="job.posted_date"></app-card>
    </div>
</div>