<div class="container">
    <div style="display: flex; justify-content: space-between;">
        <div>
            <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search Designation">
        </div>
        <div>
            <!-- <input type="text" class="form-control" placeholder="Search Designation"> -->
        </div>
    </div>
    <div *ngFor="let job of jobPosting | search: searchTerm" (click)="openJobDetail(job)">
        <app-card [cardTitle]="job.title" [cardDesc]="job.desc" [cardLocation]="job.location" [cardDate]="job.date"></app-card>
    </div>
</div>