/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Align items to stretch vertically to equal heights */
  height: 100vh;
  font-family: Arial, sans-serif;
}

.panel {
  flex: 1;
  display: flex; /* Display children elements in a flex layout */
  flex-direction: column; /* Arrange children elements vertically */
  position: relative; /* Add relative positioning to the panel */
}

.panel-left {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px;
  position: relative; /* Add relative positioning to the panel-left */
}

.panel-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent overlay */
  border-radius: 10px;
}

.panel__image {
  max-width: 100%;
  height: 100%;
}

.panel-right {
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
}

.posting-container {
  width: 100%;
}

.posting-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #009579;
}

.form-container {
  margin-top: 20px;
}

.form-container label {
  font-weight: bold;
}
.form__label {
  color: #009579;
  text-transform: capitalize;
}

.form__heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px; /* Increase the margin-bottom to add more space between the form heading and the line */
  color: #009579;
  position: relative;
}

.form__heading::after {
  content: "";
  position: absolute;
  margin-top: 10px; /* Adjust this value to control the space between the form heading and the line */
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 4px;
  background-color: #009579;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow to the line */
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-container input:focus,
.form-container textarea:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.btn.btn-primary {
  width: auto;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #009579;
  text-align: center;
  text-transform: uppercase;
}

.btn.btn-primary:hover {
  background: #045042;
}

.btn.btn-primary:active {
  transform: scale(0.98);
}
