<div class="loader-container" style="height: -webkit-fill-available;" *ngIf="isLoading">
    <mat-spinner style="position: absolute; top: 40%; left: 45%;"></mat-spinner>
  </div>

<div class="container" *ngIf="!isLoading">
    <div style="margin-left: 8%;">
        <h1 class="heading">User Details</h1>
    </div>
    <div class="flex-container">
        <div>
            <div style="text-align: center;">
                <img style="width: 70%; padding: 8px;" src="../../assets/userprofile.svg">
            </div>
        </div>
        <div>
            <div class="user-detail-container">
                <div class="title">{{ name }}</div>
                <div class="role">{{ role }}</div>
                <div class="details">
                    <div class="detail-item">
                        <span class="bold-text">Name:</span> {{ name }}
                    </div>
                    <div class="detail-item">
                        <span class="bold-text">Username:</span> {{ username }}
                    </div>
                    <div class="detail-item">
                        <span class="bold-text">Email:</span> {{ email }}
                    </div>
                    <div class="detail-item">
                        <span class="bold-text">Password:</span> *********
                    </div>
                    <div *ngIf="cvUrl != undefined" class="detail-item">
                        <span class="bold-text"><a target="_blank" href="{{ backendUrl }}/upload/viewcv/{{cvUrl}}">View CV</a></span>
                    </div>
                    <div *ngIf="cvData != undefined">{{ cvData }}</div>
                    <div class="cv" *ngIf="(!tempInternalData) || role == 'student'">
                        <!-- <a href="#">Upload CV</a> -->
                        <!-- <span>Upload CV:</span>
                        <input type="file" class="file-upload" onchange="uploadFileUpdated(event.target.files)"> -->
                        <app-upload *ngIf="role != 'employer' && role !='admin'"></app-upload>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>