.flex-container{
    display: flex;
    flex-direction: row;
}

.flex-container div{
    flex: 1;
}
.user-img{
    border-radius: 50%;
    background-image: url(../../assets/png-transparent-user-profile-computer-icons-login-user-avatars-thumbnail.png);
}

.title{
    font-size: 30px;
    font-weight: 600;
}
.role{
    font-size: 12px;
    color: rgb(76, 76, 255);
}

.detail-item{
    font-size: 14px;
    line-height: 36px;
}

.details{
    margin-top: 36px;
}

.cv{
    margin-top: 20px;
}