<div class="container">
    <div class="flex-container">
        <div>
            <div style="text-align: center;">
                <img style="width: 70%; padding: 8px;" src="../../assets/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png">
            </div>
        </div>
        <div>
            <div class="user-detail-container">
                <div class="title">{{ name }}</div>
                <div class="role">{{ role }}</div>
                <div class="details">
                    <div class="detail-item">Name: {{ name }}</div>
                    <div class="detail-item">Username: {{ username }}</div>
                    <div class="detail-item">Email: {{ email }}</div>
                    <div class="detail-item">Password: *********</div>
                    <div class="cv" *ngIf="!tempInternalData">
                        <!-- <a href="#">Upload CV</a> -->
                        <span>Upload CV:</span>
                        <input type="file" class="file-upload" onchange="uploadFileUpdated(event.target.files)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>